<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>人类</key>
	<dict>
		<key>code</key>
		<string>R01</string>
		<key>desc</key>
		<string>人类，是一个难以描述的种族。他们象蚂蚁一样勤劳、吃苦，数目众多，占居了大部分的空间和资源。他们力量均衡，思想复杂，精力旺盛。论勇武，人比不上夸父；论灵敏，人比不上羽人；论智慧，人比不上河络。然后，这个最平庸的种族，却以其坚忍、耐力、无穷无尽的欲望，以其掠夺资源的能力和强大的繁殖力，塑造了九州最盛大最繁华的文明，为其他各种族所惊羡，成了九州上的汹汹主流。</string>
	</dict>
	<key>羽族</key>
	<dict>
		<key>code</key>
		<string>R02</string>
		<key>desc</key>
		<string>大地原来是 一个蛋，突然某个时刻天开地辟，清气上升，浊气下降，上升的风与星辰结合诞生了羽人，而地面的人离星辰太原，所以注定没有飞翔的力量。但羽人也因此而失去了大地的庇护，要漂泊流浪</string>
	</dict>
	<key>河络</key>
	<dict>
		<key>code</key>
		<string>R03</string>
		<key>desc</key>
		<string>世界本是一片混沌，在一片混沌中，真身盘瓠开始了创造，它制造出了星辰和大地，以及世上的万物。之后，盘瓠让地心游熊熊烈火，将大地变成神的熔炉，用地心精火地熔炼最优质的矿石，首先铸造出了河络，并因此赐予河络以火，让河络永远秉承神圣的创造；盘瓠又使用五色的土来创造，捏出形形色色的人，并赐予人类以土，人因此象土一样可塑，又彼此差异很大；羽人是用木头创造出来得到了风的恩赐，得以乘风飞翔；在创造时，盘瓠曾将水由江河湖海中扬起，当水滴落回水面，就变成了鲛人，于是盘瓠赐予鲛人以水；整个创造中被抛弃的势头碎屑，也因为盘瓠创造的力量，顽强变化成夸父，他们粗糙矇昧，没有得到神地礼物和眷顾，永远坚守着顽强；魅，是炉子冒出的烟气，盘瓠对它们没有任何的约束，任由它们去游荡</string>
	</dict>
	<key>夸父</key>
	<dict>
		<key>code</key>
		<string>R04</string>
		<key>desc</key>
		<string>很久之前，天与地是合在一起的，在这混沌中盘古就出生了。盘古开天之后，就倒下了，他的身体骨肉化成山脉，血变为江河，毛发变成森林，眼齿耳鼻口化作大地的五大奇观。从盘古的口中跳出了夸父，从手中走出了人类，头发间飞出了羽人，脚心中走出了河络。因为与大海的隔绝，夸父的深化中忽略了鲛人的存在。</string>
	</dict>
	<key>鲛人</key>
	<dict>
		<key>code</key>
		<string>R05</string>
		<key>desc</key>
		<string>很久以前，世界完全被水覆盖着，海地平坦而柔软，那里是鲛人的世界。忽然有一天，天空破了，想下雨一样落下了许多巨石和泥土，沉入水底的形成了大陆架和海岭，露出水面的便成为了大地。一些鲛人很好奇，走上了大地，他们越走越远，回头时，已经忘记了来时的陆，他们在广袤的大地上不停地行走，寻找回到海洋的路，走着走着，尾鳍就变成了腿，再也无法回到大海故园了。这些好奇的鲛人就是后来大地上的居民。</string>
	</dict>
	<key>魅</key>
	<dict>
		<key>code</key>
		<string>R06</string>
		<key>desc</key>
		<string>灵魂只是传说与信仰的产物，并不能被证明真实的存在。所谓魂印兵器，也只是抽取生物的精神特质关注于兵器之中。魅也是由相似的原理而形成，只不过魅是将精神贯注到它自己凝聚的身体重。魅是九州上最纯粹的精神力的存在，有智慧的地方，就有可能诞生魅</string>
	</dict>
</dict>
</plist>
